body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 3rem;
  color: #e2dbdb;
}

.buffer{
  height: 10rem;
}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  border-radius: 300px;
  max-width: 65px;
  opacity: 1;  
}


.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;

}

.btn-primary{
    background-color: #F05F44;
    border-color: #F05F44;
}

.btn-primary:hover{
    background-color: #a82a13;
    border-color: #a82a13;
    border-width: 3px; 
}

.btn-xl{
  padding: 1rem 3rem;
}

/*.header{
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0 10px 9px -7px white;
  border-bottom: 1px solid white;
  width: 1000px;
}*/


  /*margin-top: 250px;*/
  /*border: ;*/
  /*display: flex;*/
  /*align-items: center;*/
